# ==============================
# Environment files
# ==============================
.env
.env.*
!.env.example

# ==============================
# Spring Boot / Maven
# ==============================
BACKEND/target/

# ==============================
# IDE files
# ==============================
.idea/
*.iml
.classpath
.project
.settings/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# React / Node
# ==============================
FRONTEND/node_modules/
FRONTEND/dist/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db